<div *ngIf="selectedHero">
  <h2>{{selectedHero.name|uppercase}} Details</h2>
  <div> <span>id: </span>{{selectedHero.id}} </div>
  <div> <span>name: </span>{{selectedHero.name}} </div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" type="text" placeholder="Name">
    </label>
  </div>
</div>

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span>
    <span>{{hero.name}}</span>
  </li>
</ul>
